// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-concrete: #FBFBFB;
  --color-boulder: #777777;
  --color-scorpion: #5B5858;
  --color-emperor: #504E4E; 
  --mine-shaft: #252525;
}
